<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- 数据库仓库配置 -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/spring?serverTimezone=Asia/Shanghai</property>
        <property name="connection.username">root</property>
        <property name="connection.password">dai963852</property>

        <!-- JDBC 连接池大小 -->
        <!--<property name="connection.pool_size">1</property>-->

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>

        <!-- 在控制台显示执行的sql语句 -->
        <property name="show_sql">true</property>

        <!--&lt;!&ndash; 格式化SQL语言 &ndash;&gt;-->
        <property name="format_sql">false</property>

        <!-- 映射文件配置 -->
        <!--<mapping resource="pers/model/domain/Student.hbm.xml"/>-->


        <!-- 配置C3P0连接池 -->
        <property name="connection.provider_class">org.hibernate.c3p0.internal.C3P0ConnectionProvider</property>
        <!--在连接池中可用的数据库连接的最少数目 -->
        <property name="c3p0.min_size">1</property>
        <!--在连接池中所有数据库连接的最大数目 -->
        <property name="c3p0.max_size">1</property>
        <!--设定数据库连接的过期时间，以ms为单位，如果连接池中的某个数据库连接空闲状态的时间 超过timeout时间，则会从连接池中清除 -->
        <property name="c3p0.timeout">120</property>
        <!--每3000s检查所有连接池中的空闲连接以s为单位 -->
        <property name="c3p0.idle_test_period">3000</property>


        <!-- 注解映射 -->
        <mapping class="pers.model.domain.Student"/>

    </session-factory>

</hibernate-configuration>